@font-face {
    font-family: "BMEULJIRO";
    src: url("../font/BMEULJIROTTF.ttf");
}
@font-face {
    font-family: "Korail Round Gothic Bold";
    src: url("../font/Korail_Round_Gothic_Medium.ttf");
}
